.dashboard-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.sidebar {
  width: 250px;
  transition: all 0.3s ease;
}

.sidebar.collapsed {
  width: 0;
  overflow: hidden;
}

.main-content {
  flex: 1;
  transition: all 0.3s ease;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  border-bottom: 1px solid #ccc;
  background-color: #f8f9fa;
  padding: 10px 20px;
  position: sticky;
  top: 0;
}

.bell-hover:hover {
  transform: scale(1.1);
  color: #000;
  transition: transform 0.2s ease;
}

.notification-dot {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: rgb(181, 57, 57);
  border-radius: 50%;
}


/* //CSS for AddTag.jsx */
/* .table th, .table td {
  vertical-align: middle;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
} */
.equal-height-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 1rem;
}

